{% extends 'base.html' %} {% block style %}
<style>
  {{ highlight_css|safe }}

  button.copy {
    position: absolute;
    top: 2rem;
    right: 1rem;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }

  button.copy:hover {
    background-color: #309334;
  }
</style>
{% endblock %} {% block content %}
<p>
  Your paste URL:
  <a href="{{ external_url_for('paste', id=paste.id) }}"
    >{{ external_url_for('paste', id=paste.id) }}</a
  >
</p>
<div class="highlight" style="position: relative">
  {{ highlight_body|safe }}
  <button class="copy">copy</button>
</div>
<script>
  let copyBtn = document.querySelector(".copy");
  copyBtn.addEventListener("click", async () => {
    try {
      // 创建一个临时文本区域来保存要复制的文本
      const textToCopy = document.querySelector(
        ".highlight > :not(button)"
      ).textContent;
      if (!textToCopy) {
        throw new Error("No text to copy");
      }

      const tempTextarea = document.createElement("textarea");
      tempTextarea.value = textToCopy;

      // 将文本区域添加到文档中并选择文本
      document.body.appendChild(tempTextarea);
      tempTextarea.select();

      // 执行复制命令
      const successful = document.execCommand("copy");
      document.body.removeChild(tempTextarea); // 删除临时文本区域

      if (successful) {
        copyBtn.textContent = "Copied!";
      } else {
        throw new Error("Copy command failed");
      }
    } catch (err) {
      alert("Copy failed: " + err.message);
    }
  });
</script>
{% endblock %}
